body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #d2f35b, #e7eaec);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #dee91a;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #053f8a;
}

input[type="text"],
input[type="number"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background: #f7fb06;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #e0d7df;
}

/*.result {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    background: #18aed8;
    padding: 1rem;
    border-radius: 5px;
}*/
.result{
    background: linear-gradient(145deg, #dff871, #faf8f8);
    color: #161617;
    padding: 22px;
    border-radius: 14px;
    margin-top: 20px;
    border: 1px solid #edeeed;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
